<div id="select-container">

<%= link_to(root_path) do %>
  <h1 class="select-header" style="animation: fadeIn 2.0s ease 0.3s 1 normal;">Workout Music</h1>
<% end %>

<div class="container home-select-container">
<%= form_tag("/workout/index", {method: :post}) do %>
<form>

<!-- テーマの候補を出力する（全11個の中からランダムで4つ、乱数はworkout_controllerであらかじめ設定する） -->
<div id="feel_or_genle" style="animation: fadeIn 2.0s ease 2.3s 1 normal;">
  <!- 0 <= @left_up <= 2 ->
  <% if @left_up == 0 then %>
    <button class="select-btn-left-up" name="classic" value="on"><img src="/select_classic.jpg" alt="クラシック"/></button>
  <% elsif @left_up == 1 then %>
    <button class="select-btn-left-up" name="cafe" value="on"><img src="/select_cafe.jpg" alt="カフェ風"/></button>
  <% else %>
    <button class="select-btn-left-up" name="western_music" value="on"><img src="/select_western_music.jpg" alt="洋楽"/></button>
  <% end %>

  <!-- 0 <= @right_up <= 2 -->
  <% if @right_up == 0 then %>
    <button class="select-btn-right-up" name="EDM" value="on"><img src="/select_EDM.jpg" alt="EDM"/></button>
  <% elsif @right_up == 1 then %>
    <button class="select-btn-right-up" name="jazz" value="on"><img src="/select_jazz.jpg" alt="Jazz"/></button>
  <% else %>
    <button class="select-btn-right-up" name="anison" value="on"><img src="/select_anison.jpg" alt="アニソン"/></button>
  <% end %>

  <!-- 0 <= @left_bottom <= 2 -->
  <% if @left_bottom == 0 then %>
    <button class="select-btn-left-bottom" name="wahu" value="on"><img src="/select_wahu.jpg" alt="和風"/></button>
  <% elsif @left_bottom == 1 then %>
    <button class="select-btn-left-bottom" name="f1yuragi" value="on"><img src="/select_f1yuragi.jpg" alt="1/fゆらぎ"/></button>
  <% else %>
    <button class="select-btn-left-bottom" name="celtic" value="on"><img src="/select_celtic.jpg" alt="ケルト風"/></button>
  <% end %>

  <!-- 0 <= @right_bottom <= 1 -->
  <% if @right_bottom == 0 then %>
    <button class="select-btn-right-bottom" name="enviornment" value="on"><img src="/select_enviornment.jpg" alt="環境音"/></button>
  <% else %>
    <button class="select-btn-right-bottom" name="jpop" value="on"><img src="/select_jpop.jpg" alt="J-POP"/></button>
  <% end %>

</div>

</form>
<% end %>
</div>

<p class="home-select-derection">テーマを選択してください</p>

<%= form_tag("/select", {method: :get}) do %>
<form>
<button class="shuffle-btn" name="shuffle_btn" value="on"><img src="/shuffle_btn.png" alt="シャッフル"/></button>
</form>
<% end %>
</div>
